#define TCOMBO(NAME, BINDINGS, OUTER_BINDINGS, INNER_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_li_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lo_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ri_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <INNER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ro_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <OUTER_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS ROT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <LOT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <LIT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <RIT>; \
	layers = <COMBO_LAYERS>; \
};

TCOMBO(I,      &kp I,      &kp LS(I), &kp RPAR,   &kp C_PP,     TLI,         TRI)
